.address {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    /* width: 38rem;   */
    border: 2px solid whitesmoke;
    border-radius: 10px;
    background-color: aliceblue; 
}



