.name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 10px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    background-color: aliceblue;
}


.bi-person {
    font-size: 25px;
    padding-right: 10px;
}

.name > h3 {
    color: black;

}

